<h1>New book</h1>

<form action="/books" method="POST">
  <input name="books[title]" placeholder="Title">
  <input name="books[author]" placeholder="Author">
  <input name="books[snippet]" placeholder="Snippet">
  <button>Submit</button>
</form>